@import "compass/css3";

footer div.footer-container {
  clear: both;
  width: 100%;
  padding: 20px 0 10px;
  bottom: 0;
  position: absolute;
  background: #2f2f2f;
  address.copyright {
    text-align: left;
    width: 100%;
    font-size: 12px;
    color: #aaa;
    margin: 0;
    line-height: 30px;
  }
}

nav.navbar.lead-nav {
  background-color: #f7f7f9;
  a.navbar-brand {
    padding-top: 15px;
    color: #4483b4;
    font-weight: 300;
    font-size: 20px;
  }
  ul>li>a {
    &:hover{
      color: #2a2a2a;
    }
    color: gray;
    font-weight: bold;
  }

  @at-root li.nav-item.active {
    background-color: #9f9f99;
    a.nav-link{
      color: white;
    }
  }
}


.main-container {
  margin-bottom: 80px;
}

.navbar-header-img {
  height: 36px;
  display: inline-block;
}

.nav-header-text {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.lead-title, .lead-total{
  display: inline-block;
}

.lead-total {
  font-size: 16px;
  font-weight: bold;
  margin-top: 17px;
  span {
    color: #69aa46;
  }
}

input.product_checkbox {
  margin-top:9px;
}

#related-product-table_filter {
  input[type=text] {
    width: 60%;
  }
  label {
    width: 90%;
  }
}